/*j'enleve les marges */

body,html{
  margin:0;
  padding:0;
}
/*je nommes la police */

body{
  background-color:black;
  font-family:sans-serif;
}
/*je centre le header */
header{
  z-index: 2;
  background-color: black;
  display:flex;
  position: fixed;
  height: 300px;
  top: 0;
  padding-top: 50px;
  justify-content: center;
  width: 100%;

}
/*je positionne l'image*/
header img {
  background-color: black;
  display: block;
}
/*je positionne le menu*/
#main-nav{
  background-color: black;
  width:100%;
  position:fixed;
  top:200px;
  left:0;
  height:100px;
  text-align: center;
  z-index: 2
}

#main-nav ul{
  /*font-size:0;*/
  margin:auto;
}

#main-nav>ul>li{
  display:inline-block;
  text-align:center;
  font-size:1.5em;
  width:15%;
}

#main-nav a{
  display:block;
  width:100%;
  height:30px;
  color:#BD2031;
  text-align:center;
  text-decoration:none;
}

#main-nav li a + *{
  display: none;
  position: absolute;
}

#main-nav li a:hover + *{
  display: block;
  list-style-type: none;
}

#main-nav li a + *:hover{
  display: block;
  list-style-type: none;
}

#main-nav a:hover{
  color: white;
}

/*je positionne mon paragraphe de  presentation du site */

.main1{
  display: flex;
  position: absolute;
  top: 350px;
  left: 12%;
  width: 35%;
  height: 25%;
  border-right: 5px dotted white;
}

.main2{
  display: block;
  position: relative;
  top: 800px;
  left: 12%;
  width: 35%;
  height: 25%;
  border-right: 5px dotted white;
}

.bienvenue{
  font-size: 1.5em;
  color: #BD2031;
  display: inline-block;
  position: relative;
  margin-right: 10px;

}

.aside1{
  display: flex;
  position: absolute;
  top: 600px;
  right: 12%;
  width: 35%;
  height: 20%;
  border-left: 5px dotted white;
}

.blank{
  font-size: 1.1em;
  color: #BD2031;
  display: inline-block;
  position: relative;
  margin-left: 35px;
}

a {
  color: white;
  text-decoration: none;
}
